 
body{
    background-color: rgb(203, 205, 206);
    padding: 100px
}
button{
    margin-top: 10px;
    
}
input{
    margin-top: 10px;
    
}
#index{  
    background-color: white ;
   padding: 70px;
      margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   
}
.english{
    float: right;
   ;

}
a{
    color: aqua
}
